<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>

  <% @contacts.each do |contact| %>
    <%= render partial: "contacts/contact", locals: {contact: contact} %>
  <% end %>
    <%= paginate(@contacts) %>
</div>