<div class="contents row">
  <div class="container">
    <%= form_with(model: @contact, local: true) do |form|%><!--contactsかも-->
    <h3>
      編集ページ
    </h3>
    <%= form.text_field :image, placeholder: "画像URL" %>
    <%= form.text_area :text, placeholder: "メッセージ入力" , rows: "10" %>
    <%= form.submit "更新する" %>
    <% end %>
  </div>
</div>